* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Playfair Display", serif;
    background: linear-gradient(to left, #f5f5dc, #d4a373, #5e4638);
    overflow: hidden; 
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #f5f5dc, #d4a373, #5e4638);
    padding: 10px 20px;
    height: 10vh; 
}

.logo img {
    height: 80px;
    width: 125px;
    margin: 0;
    padding-top: 20px;

}

/* Nav Menu Styling */
.navmenu {
    display: flex;
    justify-content: flex-end;/* Aligns the menu to the right */
    width: 100%;
    margin-left: 30px; /* Space between logo and menu */
}

.navcontent ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navcontent ul li a {
    color: #0c0c0c;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navcontent ul li a:hover {
    color: #f5f5dc;
    text-decoration: underline;
}

/* Main Content Styling */
.container {
    display: flex;
    height: 90vh; 
}

.note {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: 27px;
}

.note h2 {
    font-size: 2.5em;
    margin: 0;
}

.image {
    flex: 1;
    height: 90vh; 
    overflow: hidden;
}

.image img {
    height: 100%; 
    width: 600px; 
    object-fit: cover;
}
/* our menu styling */
button {
    background-color: #f5f5dc; /* beige */
    color: #5e4638; /* brown */
    border: 2px solid #5e4638;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #5e4638;
    color: #f5f5dc;
    transform: translateY(-3px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}
.breakfast {
    display: flex;
    align-items: flex-start;
}

.breakfast img {
    width: 150px; /* Adjust image size as needed */
    margin-right: 20px; /* Space between image and list */
}

.breakfast ul {
    list-style: none;
    padding: 0 0 0 20px; /* Space between border and text */
    position: relative;
}

.breakfast ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;    /* Start of border */
    bottom: 10px; /* End of border */
    width: 2px;   /* Thickness of the border */
    background-color: #000; /* Border color */
}

.breakfast ul li {
    margin-bottom: 18px; /* Adjust the spacing as needed */
}
